<style>

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  //border: 1px solid rgba(0,0,0,0.1);  
}
	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	  margin-bottom:1.5em;
		@include box-sizing(border-box);}

</style>

<div class="container container-fit" >
<div style="text-align:left;">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "form-signin new_user"}) do |f| %>
<h2>Sign up</h2>
  <%= devise_error_messages! %>

  <div class="field" style="margin-top:1.5em;">
    <!-- <%= f.label :email %><br /> -->
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control",placeholder: "Email Address" %>
  </div>

  <div class="field">
    <!--<%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />-->
    <%= f.password_field :password, autocomplete: "new-password" , class: "form-control",placeholder: "Password (6 characters minimum)" %>
  </div>

  <div class="field">
    <!--<%= f.label :password_confirmation %><br />-->
    <%= f.password_field :password_confirmation, autocomplete: "new-password"  , class: "form-control",placeholder: "Confirm Password"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" , class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>