<link href="css/crypto-style.css" rel="stylesheet">
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
  $(document).ready(function() {
    $("#e1").select2({theme: "bootstrap"}); 
    $("#e2").select2({theme: "bootstrap"}); 
  });
  
Highcharts.createElement('link', {
    href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
    rel: 'stylesheet',
    type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
    colors: ['#18a01c', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
        '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
    chart: {
        backgroundColor: null,
        style: {
            //fontFamily: 'Dosis, sans-serif'
        }
    },
    title: {
        style: {
            fontSize: '16px',
            fontWeight: 'bold',
            textTransform: 'uppercase'
        }
    },
    tooltip: {
        borderWidth: 0,
        backgroundColor: 'rgba(219,219,216,0.8)',
        shadow: false
    },
    legend: {
        itemStyle: {
            fontWeight: 'bold',
            fontSize: '13px'
        }
    },
    xAxis: {
        gridLineWidth: 1,
        labels: {
            style: {
                fontSize: '12px'
            }
        }
    },
    yAxis: {
        minorTickInterval: 'auto',
        title: {
            style: {
                textTransform: 'uppercase'
            }
        },
        labels: {
            style: {
                fontSize: '12px'
            }
        }
    },
    plotOptions: {
        candlestick: {
            lineColor: '#404048'
        }
    },


    // General
    background2: '#F0F0EA'

};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);


function tabs(event, tabName) {
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    
    
    tablinks = document.getElementsByClassName("tabCircle");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    event.currentTarget.className += " active";
}

</script>
<style>
  body {
  background-image: url(<%= asset_path('newcrypto.png')%>);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
footer {
  margin-top:56px;
}
.container-box {
  
  background-color:white;
  border-radius:8px;

}

.tabCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 64px;
    height: 64px;
    padding: 16px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 24px Arial, sans-serif;
    
    //float:left;
    display:inline-block;
    margin: 0 1em 0 1em;
    
}

.tabCircle:hover {
  color:black;
  border: 2px solid black;
}
button.tabCircle  {
      outline: none;
    cursor: pointer;
}
.active {
  //color:#00265b;
  //border: 2px solid #00265b;
  
}
#service-choice    button:hover {
 background-color: #ddd;
}
/* Create an active/current tablink class */
#service-choice button.active {
    background-color: rgba(47, 182, 47, 0.52);
    color:black;
}
</style>
    <!-- Page Content -->
    <div class="container container-fit container-box">

    <!-- Heading Row -->
    <div class="row my-4">
    <div class="col-lg-8 offset-lg-2">
    <!--<div class="col-lg-8">-->

   
<%= form_tag({}, {:method => :get}) do %>
<div class="row">
<div class="form-group form-group-lg col-md-5">
  <%= select_tag :input, options_from_collection_for_select(@coin, :currency, :name, @input), id: "e1", :class => "form-control" %>
  </div>
  <div class="col-md-2 " style="text-align:center;padding: .5em;" >
  <i class="fas fa-exchange-alt"></i>
  </div>
  <div class="form-group form-group-lg col-md-5">
   <%= select_tag :output, options_from_collection_for_select(@coin, :currency, :name, @output),id: "e2", :class => "form-control" %>
<!-- , :onchange =>  "this.form.submit();" -->
</div>
</div>
<div class="row" style="margin-top:2em;">
<div class="  form-group col-md-4 offset-md-4 ">
<%= text_field_tag :qty, nil , class: "form-control",placeholder: @qty %>
</div>
</div>
  <div class="row">
<div class="  form-group col-md-4 offset-md-4">
<input class="btn btn-lg btn-primary btn-block"  type="submit" value="Convert" />
</div>
</div>
<% end %>
 
     <!--  </div>-->
        <!-- /.col-lg-8 -->
       <!-- <div class="col-lg-4">
          <h1>CryptoConverter</h1>
          <p>CryptoConverter is an online cryptocurrency accounting software package. It is able to quickly notice trends and changes in
          the volatile cryptocurrency market utilizing a straightforward user interface.</p>
         <%= link_to 'Sign Up!', new_user_registration_path, class:"btn btn-primary btn-lg" %>
         
        </div>-->
        <!-- /.col-md-4 -->
      </div>
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
     <!--<div class="card text-white bg-secondary my-4 text-center">-->
        <div class="card-body">
          <!--<p style="font-size:2em;"class="text-white m-0">1 (<%= @input %>)<i class="fas fa-equals ml-2 mr-2"></i><%=  @exchange %> (<%= @output %>) <%= @test %></p>-->
        <p style="font-size:2em;"class="nottext-white m-0"><%=  @exchange %> </p>
       <!-- </div>-->
      </div>
      <!-- <div class="row">
        <div id="service-choice"  style="margin: 4em auto 4em auto;">
          <button class="tabCircle " onclick="tabs(event,'container-graph')"><i class="fas fa-chart-line"></i></button>
          <button class="tabCircle " onclick="tabs(event,'container-assets')"><i class="far fa-list-alt"></i></button>
        </div>
      </div> -->
 <!--START GRAPH -->


 <div id="container-graph" class="tab" style="width:100%; height:400px;"></div>
 
 <div id="container-assets" class="tab" style="width:100%; height:400px; display:none;">
 
  Not fully implemented
 
 </div>
 <script>
 
$(document).ready(function() {


    var myChart = Highcharts.chart('container-graph', {
        chart: {
            
        },
        title: {
            text: 'Price History of ' + "<%=  @input %>"+ ' to ' + "<%=  @output %>"
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },
         plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
        series: [{
            
            name: "<%=  @input %>" + ' to ' + "<%=  @output %>",
            data: <%=  @data %>
        }]
    });
});

</script>

 <!--END GRAPH -->

    </div>
    <!-- /.container -->
     <a href="https://www.vecteezy.com" style="visibility:hidden;">Graphics Provided by Vecteezy</a> 